<<<<<<< HEAD
#link-target-finder-toolbar-button {
	list-style-image: URL("chrome://linktargetfinder/skin/toolbar-large.png");
}

#link-target-finder-status-bar-icon {
	width: 83px;
	margin: 0 5px;
}

.link-target-finder-selected {
	outline: 2px solid red !important;
}

notification[value='kitapsever-notification'] {
	color : black;
	background-color: lightgray;
=======
notification[value='kitapsever-notification'] {
	color : black;
	background-color: #9AEE00;
>>>>>>> zaknafein/master
}

